.header {
width: 100%;
background-color: $colour-primary;
display: flex;
justify-content: center;
}
.header__title {
  color: #cfba55;
  font-size: 4rem;
}

.header__title {
    font-family: 'Roboto', sans-serif;
}