.list-item__title--4{
  background: linear-gradient(to right, #72BF56, #BFFF7E);
  -webkit-background: linear-gradient(to right, #72BF56, #BFFF7E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-list-item--4 {
  background: $colour-item4;
}