.list-item__title--3{
  background: linear-gradient(to right, #0431DF, #0E88FB);
  -webkit-background: linear-gradient(to right, #0431DF, #0E88FB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-list-item--3 {
  background: $colour-item3;
}