.list-item__title--2{
  background: linear-gradient(to right, #C77412, #905BFD);
  -webkit-background: linear-gradient(to right, #C77412, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list-item__link--menu2 {
  color: #C77412;
}
.card-list-item--2 {
  background: $colour-item2;
}
.card-item--chic{
  background: linear-gradient(to right, #C77412, #905BFD);
  -webkit-background: linear-gradient(to right, #C77412, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}