.fas{
  align-self: center;
  margin: 0 1rem 1rem 0;
  font-size: 2.5rem;
 
}
.fa-music {
  background: linear-gradient(to right, red, orange);
  -webkit-background: linear-gradient(to right, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}