.fas{
  align-self: center;
  padding: 1rem;
  font-size: 6rem;
  color: pink;
}
.fa-music {
  background: linear-gradient(to right, red, orange);
  -webkit-background: linear-gradient(to right, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}