.header__title {
  font-family: 'Roboto', sans-serif;
}
.menu--note {
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 2rem;
}
.menu--typoNote{
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
}
.menu--chic {
  font-family: 'Vollkorn', serif;
  font-size: 2rem;

}
.menu--delice{
  font-family: 'Dancing Script', cursive;
  font-size: 2rem
}
.menu--typoDelice{
  font-family: 'Shadows Into Light', cursive;
}
.menu--palette{
  font-family: 'Kaushan Script', cursive;
}
.menu--typoPalette{
  font-family: 'Shadows Into Light', cursive;
}