.font-roboto {
  font-family: "Roboto", sans-serif;
  color: $colour-secondary;
}
.font-devonshire {
  font-family: "Devonshire", cursive;
  @media screen and (max-width: 320px) {
    font-size: 0.7rem;
  }
}
.font-croissant {
  font-family: "Croissant One", cursive;
  @media screen and (max-width: 320px) {
    font-size: 0.7rem;
  }
}
.font-noto {
  font-family: "Noto Serif", serif;
  &--title2 {
    color: $colour-title2;
  }
}
.font-parisienne {
  font-family: "Parisienne", cursive;
  @media screen and (max-width: 320px) {
    font-size: 0.7rem;
  }
}
.font-kaushan {
  font-family: "Kaushan Script", cursive;
  @media screen and (max-width: 320px) {
    font-size: 0.7rem;
  }
}
.font-sriracha {
  font-family: "Sriracha", cursive;
  &--title1 {
    color: $colour-title1;
  }
  &--title3 {
    color: $colour-title3;
  }
  &--title4 {
    color: $colour-title4;
  }
}
.list-item__link {
  font-size: 1rem;
}
.card-item__mashan {
  font-family: "Ma Shan Zheng", cursive;
  font-size: 1.5rem;
}
.card-item--caveat {
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
}
.card-item--vollkorn {
  font-family: "Vollkorn", serif;
  font-size: 2rem;
}
.card-item--dancing {
  font-family: "Dancing Script", cursive;
  @media screen and (max-width: 550px) {
    font-size: 0.8rem;
  }
}
.card-item--shadow {
  font-family: "Shadows Into Light", cursive;
  font-size: 1rem;
}
.card-item__title--top {
  font-size: 1rem;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .card-item__footer--title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 320px) {
  .card-item__footer--title {
    font-size: 1rem;
  }
}
