.list {
  display: flex;
  flex-wrap: wrap;
}
.list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: calc(50% - 40px);
  height: 70vh;
  box-sizing: border-box;
  &--1 {
    background: lightcyan;
    border: 1px solid black;
  }
  &--2 {
    background: rgb(237, 224, 255);
    border: 1px solid black;
  }
  &--3 {
    background: rgb(18, 204, 102);
    border: 1px solid black;
  }
  &--4 {
    background: rgb(60, 9, 141);
    border: 1px solid black;
  }
}

