*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  &-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: calc(50% - 40px);
  height: 80vh;
  box-sizing: border-box;
  @include card-shadow;
  &--1 {
    background: $colour-item1; 
  }
  &--2 {
    background: $colour-item2;
  }
  &--3 {
    background: $colour-item3;
  }
  &--4 {
    background: $colour-item4;
  }
}
}
.list-item__link{
  font-size: 2rem;
}

.mention {
  text-align: center;
  font-size: 2rem;
  &__item {
    text-align: justify;
    margin: 30px 20px;
  }
}

