
.card-item {
  margin: 50px auto;
  width: 80%;
  &__title {
  text-align: center;
 }
}
.card-item__taille {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.card-item__design {
  display: flex;
  justify-content: center;
  &--long {
  width: 50vh;
  }
  &--rotate {
  transform: rotateY(180deg);
  }
}
img {
  margin: 0 auto;
}

.card-item__ligne {
  display: flex;
  justify-content: center; 
  padding: 5% 0;
}
.card-item__left {
  width: 80%;
 &__dessert {
  padding: 5% 5%;
 }
}
.card-item__footer {
  display: flex;
  justify-content: center;
}







