$colour-primary: #559c84;
$colour-secondary: #cfba55;
$colour-item1: #fcdfdb;
$colour-item2: #fff5fe;
$colour-item3: #f9f9f9;
$colour-item4: #fdfffd;
$colour-title1: #3a0912;
$colour-title2: #c77412;
$colour-title3: #0e88fb;
$colour-title4: #77bf56;

$opacity-list: 0.5;

$num-points: 3;
$anim-dur: 2000ms;
$anim-delay: $anim-dur / $num-points;
